﻿
@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--    <title>@ViewData["Title"]</title> -->



        <environment include="Release">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/style.css" />
            <link rel="stylesheet" href="~/css/padding-margin.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
<div id="top" class="page">
        <main class="cd-main-content">
        <!-- SECTION ABOUT
        ================================================== 	-->
        <section class="page-section big-section">
            <div class="container relative">

                <div class="row">
                    <div class="col-md-4">
                        <div class="blog-sidebar black-section">
                            <!-- SEARCH WIDGET -->
                            <div class="widget clearfix black-section">
                                <form class="form-inline form" role="form">
                                    <div class="search-wrap clearfix black-section">
                                        <button class="search-button" type="submit" title="Start Search">
                                            <i class="lnr lnr-magnifier"></i>
                                        </button>
                                        <input type="text" class="form-control search-field" placeholder="Search...">
                                    </div>
                                </form>
                            </div>

                            <!-- SEARCH USER -->
                            <div class="widget clearfix black-section">
                                <div class="author-image">
                                    <img alt="About Me" src="images/faces/face-img2.jpg">
                                </div>
                                                                
                            </div>

                            <!-- SEARCH TAG -->
                            <div class="widget clearfix black-section">
                                <h5 class="widget-title font-face1">Tag</h5>
                                <div class="widget-body clearfix">
                                    <div class="tags font-face1">
                                        <a href="">Digital</a>
                                        <a href="">Portfolio</a>
                                        <a href="">Design</a>
                                        <a href="">Pride</a>
                                        <a href="">Theme</a>
                                        <a href="">Ultimate</a>
                                        <a href="">Web</a>
                                        <a href="">Personal</a>
                                    </div>
                                </div>
                            </div>
                                                        
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row multi-columns-row">

                            @if (Model.results.Count == 0)
                            {
                                <H5>No hay Personas para esta Busqueda.</H5>
                            }
                            else
                            {
                               
                                @foreach (var item in Model.results)
                                {
                                    String url = item.picture;
                                    <div class="col-md-6 mb-60 mb-xs-40 wow fadeIn">
                                        <article>
                                            <a class="articles-card" href="javascript:void(0)" title="">
                                                <div class="card-wrap">
                                                    <div class="card-image">
                                                        <div class="article-thumbnail" >
                                                            @Html.ActionLink(" ", "Bio", new { id = (item.username) }, new { @style = "  background-size: 100% ; background-image:url(\"" + url + "\");   " })
                                                        </div>
                                                    </div>
                                                    <div class="card-body text-right">
                                                        <h2 class="heading6 lp-0 mt-0 font-face1 text-right">@item.name</h2>

                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="article_author">
                                                            <div class="portrait" data-background="images/blog/thumbnail/blog-img8.jpg"></div>
                                                            <div class="author light-text">@item.username</div>
                                                            <div class="date">10-Sept-16</div>
                                                         </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="like light-text"><a href="javascript:void(0)"><i class="fa fa-heart"></i></a> 20</div>
                                        </article>
                                    </div>
                                    }
                                }




                                <!-- BLOG PAGINATION
        ================================================== -->
                                <nav class="page-pagination mt-60">
                                    <ul class="page-numbers">
                                        <li><span class="page-numbers current">1</span></li>
                                        <li><a class="page-numbers" href="javascript:void(0)">2</a></li>
                                        <li><a class="page-numbers" href="javascript:void(0)">3</a></li>
                                        <li><a class="page-numbers" href="javascript:void(0)"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION CONTACT
        ================================================== -->
        <section id="contact" class="page-section big-section black-section scroll">
            <div class="shadow-title shadow-white unselectable parallax-1">Contact</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 mb-60 mb-sm-40 text-center">
                        <h2 class="font-face1 section-heading fw800 mt-0 text-center white-color">Get in Touch</h2>
                        <p class="gray-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit liquam hendrerit lorem at elit facilisis rutrum.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <div class="contact-email clearfix">
                                    <h4 class="font-face1 heading6 mb-20 text-center white-color">Our office</h4>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="FLAG" x="0px" y="0px" width="70px" height="70px" viewBox="0 0 1800 1800" enable-background="new 0 0 1800 1800" xml:space="preserve">
                                    <g>
                                    <path fill="#fff" d="M1099.021,1358.872c-24.524-10.022-50.942-18.95-78.808-26.835l-51.576,51.575   c152,36.272,245.715,100.936,245.715,161.021c0,89.873-209.631,190.014-510.447,190.014   c-300.812,0-510.448-100.141-510.448-190.014c0-60.081,93.715-124.748,245.711-161.021l-51.575-51.575   c-27.863,7.885-54.28,16.813-78.796,26.835c-114.981,46.993-178.304,112.964-178.304,185.761s63.323,138.769,178.304,185.762   c106.048,43.344,246.366,67.214,395.107,67.214c148.746,0,289.068-23.87,395.116-67.214   c114.977-46.993,178.294-112.965,178.294-185.762S1213.997,1405.865,1099.021,1358.872z" />

                                    <path fill="#fff" d="M1646.857,537.94L735.386,271.5v-66.372c41.896-13.364,72.331-52.65,72.331-98.919   c0-57.245-46.572-103.816-103.813-103.816S600.092,48.964,600.092,106.208c0,46.269,30.437,85.555,72.332,98.919v1359.694   c0,17.389,14.094,31.482,31.481,31.482c17.388,0,31.481-14.094,31.481-31.482V864.814l911.472-266.441   c13.422-3.922,22.648-16.232,22.648-30.216C1669.506,554.173,1660.279,541.862,1646.857,537.94z M703.904,65.354   c22.526,0,40.85,18.328,40.85,40.854s-18.323,40.849-40.85,40.849s-40.849-18.323-40.849-40.849S681.378,65.354,703.904,65.354z    M735.39,799.217V337.098l790.431,231.06L735.39,799.217z" />

												</g>
											</svg>
                                    <p class="gray-color mt-20 mb-0">Bld Mihail Kogalniceanu, nr. 8,<br>7652 Bucharest,<br>Romania</p>
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div class="contact-email clearfix">
                                    <h4 class="font-face1 heading6 mb-20 text-center white-color">Give us a ring</h4>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="PHONE" x="0px" y="0px" width="70px" height="70px" viewBox="0 0 1800 1800" enable-background="new 0 0 1800 1800" xml:space="preserve">
                                    <g>
                                    <path fill="#fff" d="M1767.747,1435.832c-8.327-8.648-16.937-17.587-27.429-25.664   c-103.501-79.709-216.736-152.819-346.173-223.501c-20.847-11.386-37.313-20.372-55.837-20.372   c-24.734,0-41.76,15.473-63.32,35.063c-23.946,21.767-47.108,43.659-69.258,65.44c-12.17,11.963-24.041,23.89-35.543,35.738   c-2.982,3.074-6.067,5.62-9.285,7.808c-11.248,7.644-24.399,10.098-42.976,8.472c-48.55-4.284-97.64-18.685-150.077-44.016   c-90.392-43.678-173.444-109.723-253.898-201.906C614.263,958.662,545.58,840.776,503.974,712.499l-3.809-11.659   c-5.327-16.218-11.359-34.603-10.182-38.525c0.732-2.462,4.585-7.013,10.156-12.735c6.298-6.481,14.801-14.471,23.58-22.712   l3.199-2.999c6.12-5.753,12.417-11.45,18.768-17.112c14.514-12.941,29.429-25.659,44.021-38.067   c15.198-12.918,30.911-26.278,46.175-39.916c36.324-32.467,44.016-51.174,17.996-97.932   c-50.232-90.262-107.172-192.566-167.25-292.054c-17.626-29.176-39.149-55.296-59.957-80.559   c-8.996-10.923-18.302-22.216-26.94-33.365c-5.914-7.636-15.033-12.104-24.695-12.104h-10.034c-7.396,0-14.548,2.624-20.193,7.401   c-98.015,83.013-177.31,183.569-253.999,280.813L76.278,319.39c-14.47,18.318-27.646,37.487-40.386,56.02   c-5.758,8.373-11.515,16.75-17.382,25.036c-3.74,5.278-5.749,11.589-5.749,18.058v26.748c0,2.158,0.223,4.307,0.667,6.417   c2.262,10.778,4.376,21.596,6.495,32.414c4.698,24.042,9.563,48.903,16.065,73.441c34.742,131.062,92.31,257.189,175.989,385.601   c178.238,273.49,402.429,500.615,666.353,675.062c121.573,80.354,239.724,131.476,361.202,156.279   c17.064,3.487,34.209,6.167,50.79,8.757c7.509,1.172,15.019,2.349,22.516,3.596c1.695,0.284,3.413,0.423,5.13,0.423h63.53   c5.287,0,10.491-1.342,15.12-3.901c127.227-70.352,238.143-158.521,329.863-235.488c13.378-11.224,25.184-23.466,36.6-35.303   c4.938-5.117,9.877-10.238,14.915-15.237c5.914-5.867,9.244-13.852,9.244-22.187v-6.685c0-8.421-3.399-16.489-9.432-22.369   C1774.39,1442.736,1771.068,1439.283,1767.747,1435.832z M366.832,83.813c3.892,4.772,7.78,9.493,11.611,14.148   c20.28,24.612,39.431,47.866,54.7,73.132c59.503,98.534,116.155,200.328,166.135,290.131c2.549,4.585,4.494,8.242,5.818,10.961   c-3.278,3.226-7.911,7.361-10.857,9.994c-14.684,13.128-30.1,26.23-45.006,38.904c-15.778,13.416-31.944,27.176-47.81,41.407   l-300.029-300.03C252.538,199.507,306.375,137.786,366.832,83.813z M1373.382,1724.754h-52.847   c-6.854-1.123-13.708-2.196-20.568-3.268c-16.603-2.594-32.289-5.047-47.932-8.242c-113.5-23.176-224.475-71.322-339.252-147.188   c-256.744-169.703-474.92-390.765-648.46-657.046C184.335,786.255,129.4,666.046,96.384,541.518   c-5.971-22.547-10.426-45.32-15.141-69.432c-1.961-10.028-3.927-20.058-5.998-30.06v-13.647c4.071-5.84,8.103-11.707,12.138-17.574   c12.719-18.506,24.74-35.988,37.928-52.682l14.563-18.455c7.375-9.353,14.784-18.741,22.224-28.134l293.867,293.866   c-13.333,13.698-21.64,24.939-25.846,39.004c-6.791,22.7-0.214,42.731,10.674,75.917l3.748,11.454   c44.257,136.467,116.984,261.484,222.334,382.201c86.104,98.661,175.663,169.671,273.792,217.084   c59.367,28.683,115.554,45.036,171.779,49.997c5.417,0.478,10.709,0.718,15.725,0.718c0.005,0,0.005,0,0.005,0   c30.471,0,55.886-8.813,77.315-26.844l291.775,291.773C1457.921,1674.061,1416.589,1700.514,1373.382,1724.754z M1686.313,1499.989   c-41.934,35.194-87.985,72.757-137.669,109.723l-298.73-298.731c21.453-21.078,43.89-42.285,67.095-63.382   c6.604-6.001,17.274-15.694,22.111-18.533c5.235,1.604,17.492,8.299,25.084,12.44c126.542,69.104,237.096,140.467,337.992,218.171   c4.476,3.443,8.878,7.602,13.372,12.126C1705.725,1481.992,1696.311,1491.6,1686.313,1499.989z" />

                                    <g>
                                    <g>
                                    <path fill="#fff" d="M1659.155,901.129c-66.448,0-120.505-54.059-120.505-120.505c0-258.807-210.553-469.359-469.359-469.359     c-66.447,0-120.505-54.059-120.505-120.505c0-66.446,54.058-120.505,120.505-120.505c391.698,0,710.369,318.671,710.369,710.37     C1779.66,847.07,1725.6,901.129,1659.155,901.129z M1069.291,132.739c-31.992,0-58.021,26.028-58.021,58.021     c0,31.992,26.029,58.021,58.021,58.021c293.259,0,531.843,238.582,531.843,531.843c0,31.992,26.029,58.021,58.021,58.021     c31.991,0,58.021-26.029,58.021-58.021C1717.176,423.379,1426.534,132.739,1069.291,132.739z" />

														</g>
													</g>
                                    <g>
                                    <g>
                                    <path fill="#fff" d="M1348.582,982.494c-50.059,0-90.779-40.722-90.779-90.78c0-166.88-135.77-302.649-302.649-302.649     c-50.058,0-90.78-40.722-90.78-90.78c0-50.058,40.723-90.78,90.78-90.78c266.991,0,484.208,217.217,484.208,484.208     C1439.361,941.772,1398.64,982.494,1348.582,982.494z M955.153,469.99c-15.604,0-28.296,12.692-28.296,28.296     c0,15.604,12.692,28.295,28.296,28.295c201.334,0,365.133,163.799,365.133,365.133c0,15.604,12.692,28.295,28.296,28.295     s28.295-12.691,28.295-28.295C1376.877,659.173,1187.695,469.99,955.153,469.99z" />

														</g>
													</g>
												</g>
											</svg>
                                    <p class="gray-color mt-20 mb-0">Michael Jordan<br>+40 762 321 762<br>Mon - Fri, 8:00-22:00 <br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 mt-140 mt-md-100 mt-sm-80 text-center">
                        <h2 class="heading5 mt-0 font-face1 fw700 mb-20 white-color">Want to discuss your new project?</h2>
                        <a class="btn bg-color white-color openContact_Form" href="javascript:void(0)">Let's Tallk</a>
                    </div>
                </div>
            </div>
            <div class="contact-form-overlay">
                <div class="table-content">
                    <div class="table-center-text">
                        <div class="contact-form-wrapper">
                            <form autocomplete="off" id="c_form" class="form">
                                <div class="clearfix">
                                    <!-- Name -->
                                    <div class="form-group">
                                        <input type="text" required="" pattern=".{3,100}" placeholder="Name" class="full_width" id="name" name="name">
                                    </div>
                                    <!-- Email -->
                                    <div class="form-group">
                                        <input type="email" required="" pattern=".{5,100}" placeholder="Email" class="full_width" id="email" name="email">
                                    </div>
                                    <!-- Message -->
                                    <div class="form-group">
                                        <textarea placeholder="Message" rows="6" cols="5" class="full_width" id="message" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="mt-30 text-center">
                                        <button id="submit_btn" class="btn btn-icon bg-color white-color"><i class="lnr lnr-location"></i></button>
                                        <button id="close_btn" class="closeContact_Form btn btn-icon bg-color white-color"><i class="lnr lnr-cross"></i></button>
                                    </div>
                                </div>

                            </form>
                            <div id="result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <hr class="nomargin nopadding" />

        <!-- FOOTER
        ================================================== -->
        <section id="footer" class="page-section">
            <footer id="footer-section" class="page-section pt-30 pb-30 center-xs">
                <!-- ACROLL TO TOP-->
                <div class="top-button"><h5>Top</h5><div class="line"></div></div>
                <environment include="Release" >
                    <script src="~/lib/jquery/dist/jquery.js"></script>
                    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                    <script src="~/js/site.js" asp-append-version="true"></script>
                    <!-- JAVASCRIPT
        ==================================================-->
                    <script src="~/js/jquery-2.2.4.min.js"></script>
                    <script src="~/js/jquery.easing.min.js"></script>
                    <script src="~/js/bootstrap.min.js"></script>
                    <script src="~/js/waypoints.min.js"></script>

                    <script src="~/js/jquery.scrollTo.min.js"></script>
                    <script src="~/js/jquery.localScroll.min.js"></script>
                    <script src="~/js/jquery.viewport.mini.js"></script>
                    <script src="~/js/jquery.sticky.js"></script>
                    <script src="~/js/jquery.fitvids.js"></script>
                    <script src="~/js/jquery.parallax-1.1.3.js"></script>
                    <script src="~/js/isotope.pkgd.min.js"></script>
                    <script src="~/js/imagesloaded.pkgd.min.js"></script>
                    <script src="~/js/masonry.pkgd.min.js"></script>
                    <script src="~/js/jquery.magnific-popup.min.js"></script>
                    <script src="~/js/jquery.counterup.min.js"></script>
                    <script src="~/js/slick.min.js"></script>
                    <script src="~/js/wow.min.js"></script>
                    <script src="~/js/script.js"></script>
                </environment>
            </footer>
        </section>

    </main>

</div>


